@page "/students/{ID:int}"
@inject IStudentService StudentService 
@inject NavigationManager navigator

<h3>Student Details</h3>
<input value="@Student.Name" disabled />
<input value="@Student.LastName" disabled />
<input value="@Student.BirthDate.ToShortDateString()" disabled />
<input value="@Student.Studies" disabled />
<input value="@Student.Avatar" disabled />

<button>Return</button>


@code {
    [Parameter]
    public int ID {get; set;}
    public Student Student {get;set;}

    protected override void OnInitialized(){
        Student = StudentService.GetStudent(ID);
    }
    private void Return(){
            navigator.NavigateTo("/students");
    }
}